.libraryPage {
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: ;
}

.libraryPage .userViewNames {
    position: absolute;
    left: 0;
    top; 0;
    display: block;
    width: 100vw;
    background-color: #000;
    height: 6vh;
    padding-left: 4vw;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}
.libraryPage .userViewNames paper-button {
    padding: 0;
    margin: 0;
    /*margin-right: 3vw;*/
    line-height: 6vh;
    height: 6vh;
    width: 13.5vw;
    text-align: center;
}

.libraryPage .userViewNames paper-button[focused] .userViewButtonText {
    color: rgba(232, 19, 154, 0.7);
    border: none;
}
.libraryPage .alphaPicker {
    display: block;
    width: 100%;
    height: 100vh;
    /*height: 93.5vh;*/
    display: block;
    width: 3.5vw;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    /*top: 6.5vh;*/
    left: 0;
    /*background-color: #000;*/
}

.libraryPage .alphaPicker > button {
    display: block;
    width: 100%;
    margin: 0.725vh 0;
    text-align: center;
    font-size: 2.4vh;
    font-weight: 200;
}

.libraryPage .alphaPicker > button.selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.libraryPage .alphaPicker > button:focus {
    background-color: rgba(232, 19, 154, 0.7);
}

.libraryPage .itemScrollFrame {
    display: block;
    width: 33vw;
    height: 100vh;
    /*height: 93.5vh;*/
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    /*top: 6.5vh;*/
    left: 3.5vw;
    background-color: #222;
    border-left: 0.5vw solid #000;
    border-right: 0.5vw solid #000;
}
.libraryPage .itemScrollFrame > .scrollSlider {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
}

.libraryPage .posterItem {
    display: block;
    width: 11vw;
    float: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 2px;
    position: relative;
    border: 1px solid #222;
    outline: none !important;
    background-color: #000;
    color: #fff;
}
.libraryPage .posterItem:focus {
    background-color: rgba(232, 19, 154, 0.7);
}

.libraryPage .posterItem > img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.libraryPage .posterItem > .posterItemImage {
    width: 100%;
    height: 15.7vw;
    background-size: cover;
}

.libraryPage .posterItem > .title {
    white-space: nowrap;
    overflow: hidden;
    padding: 1.5vh 0.5vh;
    font-weight: 200;
    font-size: 1vw;
    text-align: left;
}

.clearAfter::after {
    content: '';
    display: block;
    clear: both;
}

/* Debug */
.noDisplay {
    /*display: none !important;*/
}
