/*.wideSpotlightCard {
    width: 100%;
}

.wideSpotlightCard .cardImageContainer {
    width: auto !important;
    height: 44.26vh;
}*/

.themeHeader {
    display: none;
}

.homePageContainer {
    top: 0;
}

.homePageContent > .scrollFrame,
.homePageContent > .scrollFrame > .scrollSlider {
    height: 100%;
    position: absolute;
    width: 100%;
}

.homePageContainer .latestSection {
    position: absolute;
    bottom: -40vh;
    left: 0;
    z-index: 5;
    width: auto;
    margin: 0;
    padding: 12px 10px;
    background-color: #333;
    transition: bottom 0.6s ease-in-out;
}

.homePageContainer .latestSection.active {
    bottom: 38vh;
}

.homePageContainer .selectedItemInfo {
    position: absolute;
    top: 2vh;
    left: 2vh !important;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    background-color: #000000;
}

.userViewNames {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    max-width: 100%;
    padding: 8vh 0 11vh 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2em;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 268px;
}
.userViewNames .scrollFrame {
    overflow: hidden;
}

.headerClock {
    display: none;
}

.footerClock {
    position: absolute;
    bottom: 14vh;
    right: 0;
    z-index: 15;
    width: 150px;
    padding: 0 3vw 0 0;
    text-align: center;
    font-size: 2em;
    color: #fff;
}
.footerClock > .hour {
    font-weight: 700;
}
.footerClock > .minutes {
    font-weight: 200;
}
.footerClock > .suffix {
    font-size: 0.6em;
    text-transform: uppercase;
}

.footerDate {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 3vh 0;
    text-transform: uppercase;
    font-size: 0.8em;
    opacity: 0.2;
}

.userViewButtonText {
    width: 300px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom-width: 4px;
}

.themeContainer.withBackdrop {
    background-color: transparent;
}
